<!DOCTYPE html>
<html>

<head>
  <!-- Basic Page Needs =====================================-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <!-- Site Title- -->
  <title>{{title}}</title>


  {{#each style}}
  <link rel="stylesheet" type="text/css" href="/css/{{this}}">
  {{/each}}

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {{{_sections.css}}}

</head>


<body>
  <!-- BEGIN: logo -->
  <div class="logo">
    <div class="container">
      <a href="/subcriber/{{idS}}">
        <img class="logo" src="/img/{{logo}}" alt="logo">
      </a>
    </div>
  </div>
  <!-- END: logo -->
  <!-- BEGIN:navbar menu -->
  <div class="menu">
    <nav class="navbar navbar-default sticky-top" role="navigation">
      <div class="container">
        <div class="item_nav">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="left-menu">
              <ul class="nav navbar-nav navbar-justified">
                <!--  menu-->
                {{#each this.menu}}
                <li class="font-bold">
                  <a class="dropdown-toggle" href="/subcriber/{{../this.idS}}/list/{{parent.CatID}}">
                    {{parent.CatName}}
                  </a>
                  <ul class="dropdown-menu">
                    {{#each childs}}
                    <li class="">
                      <a href="/subcriber/{{../this.idS}}/list/{{CatID}}" data-color="#d9534f" class="cat_c">{{CatName}}</a>
                    </li>
                    {{/each}}
                  </ul>
                </li>
                {{/each}}
              </ul>
            </div>



            <div class="right-menu">
              <ul class="nav navbar-nav navbar-justified">
                <!-- icon login  -->

                           <!-- icon login  -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="img/avatar-editor.jpg" style="width: 33px; height: 33px;">
                <i class="fa fa-angle-down"></i>
                </a><ul class="dropdown-menu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <li class="userSub">
                    <h5>Đặng Vân Anh</h5>
                  </li>

                  <li role="separator" class="divider"></li>

                  </a>
                  
                  <li>
                    <span style="padding-left: 20px;font-weight: bold;">Thời hạn: 6 ngày
                    </span>
                  </li>

                  <li>
                    <a href="#" data-toggle="modal" data-target="#giaHan-modal">
                      <span class="dropdown-link-text">Gia hạn tài khoản</span>
                    </a>
                  </li>
                  
                   <li role="separator" class="divider"></li>

                  <li>
                    <a href="#" data-toggle="modal" data-target="#chinhSuaThongTin-modal">
                      <span class="dropdown-link-text">Chỉnh sửa thông tin</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" data-toggle="modal" data-target="#doiMatKhau-modal">
                      <span class="dropdown-link-text">Đổi mật khẩu</span>
                    </a>
                  </li>
                  <li>
                    <a href="home.html">
                      <span class="dropdown-link-text">Đăng xuất</span>
                    </a>
                  </li>
                </ul>
            </li>
            <!-- icon search  -->

                <!-- icon search  -->
                <li class="search_ hidden-xs hidden-sm">
                  <a href="#" class="color_fff " id="toggle-search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </a>

                </li>
                <div class="div_search sr_none" style="height: 60px;margin-top: 1px">
                  <form method="get" action="#" class="formsearch hidden-xs hidden-sm" id="search-form">
                    <div class="search_fm">
                      <input type="search" class="form-control" id="ip_search" name="key" placeholder="Tìm kiếm"
                        value="">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-search"
                          aria-hidden="true"></i></button>
                    </div>
                  </form>
                </div>
              </ul>
            </div>
          </div>
          <div class="claerfix"></div>
        </div>
      </div>
    </nav>
  </div>
    <!-- Modal gia hạn tài khoản -->
  <div class="modal fade" id="giaHan-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Gia hạn tài khoản</h3>
        </div>
        <div class="modal-body">
          <p>Bạn có muốn tiến hành gia hạn tài khoản không?</p>
        </div>
        <div class="modal-footer">          
          <button type="button" class="btn btn-warning" data-dismiss="modal">Đồng ý</button>
          <button type="button" class="btn btn-danger">Hủy</button>
        </div>
      </div>
    </div>
  </div> 

  <!-- Modal chỉnh sửa thông tin -->
  <div class="modal fade" id="chinhSuaThongTin-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Chỉnh sửa thông tin</h3>
      </div>
      <form id="contactForm" name="contact" role="form">
        <div class="modal-body">        
          <div class="form-group">
            <label for="name">Tên hiển thị</label>
            <input type="text" name="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="phone">Số điện thoại</label>
            <input type="phone" name="phone" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="dateBirth">Ngày sinh</label>
            <input type="Date" name="dateBirth" class="form-control">
          </div>          
        </div>
        <div class="modal-footer">          
          <button type="button" class="btn btn-warning" data-dismiss="modal">Lưu lại</button>
          <button type="button" class="btn btn-danger">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal đổi mật khẩu -->
  <div class="modal fade" id="doiMatKhau-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Thay đổi mật khẩu</h3>
      </div>
      <form id="contactForm" name="contact" role="form">
        <div class="modal-body">        
          <div class="form-group">
            <label for="currentPassword">Mật khẩu hiện tại</label>
            <input type="password" name="currentPassword" class="form-control">
          </div>
          <div class="form-group">
            <label for="newPassword">Mật khẩu mới</label>
            <input type="password" name="newPassword" class="form-control">
          </div>
          <div class="form-group">
            <label for="confirmPassword">Xác nhận mật khẩu mới</label>
            <input type="password" name="confirmPassword" class="form-control">
          </div>    
        </div>
        <div class="modal-footer">          
         <button type="button" class="btn btn-warning" data-dismiss="modal">Lưu lại</button>
         <button type="button" class="btn btn-danger">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>
  <!-- END:navbar menu -->


  {{>register}}

  {{{body}}}

  <!--  BEGIN: THÔNG TIN LIÊN HỆ -->
  <footer style="position: relative;">
    <div class="bg-white bb-solid pt15 pb15" style="background: #272c33; padding:4px 0; color: white">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1><strong>Báo điện tử TH16_NEWS</strong></h1>
            Tổng biên tập: <strong>NGUYỄN ANH TUẤN</strong><br>
            Phó tổng biên tập phụ trách nội dung: <strong>TRẦN THỊ HỒNG THẮM</strong><br>
            Cơ quan chủ quản: Hội Làm vườn Việt Nam (VACVINA)<br>
            Giấy phép hoạt động báo điện tử số <b>294/GP-BTTTT</b> do Bộ trưởng Bộ Thông tin và Truyền thông cấp ngày
            23/6/2017 - ISSN 1859-2456.
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <address class="text-right mb0">
              <div class="hidden-xs"><a href="/subcriber/{{idS}}"><img src="/img/{{logo}}" alt="Báo Kinh Tế Nông Thôn" width="120px"></a>
              </div>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Gửi Mail" title=""><i
                  class="fa fa-envelope-o"></i> E-Mail:</abbr> <a href="#">th16News@gmail.com</a> - <a
                href="#">toasoanTh16News@gmail.vn</a><br>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Di động" title=""><i
                  class="fa fa-mobile"></i> Di động:</abbr> 0909 009 009 <br>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Tòa soạn" title=""><i
                  class="fa fa-building-o"></i> Tòa soạn:</abbr> 227 Nguyễn Văn Cừ, Quận 5, TP. HCM
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END: THÔNG TIN LIÊN HỆ -->
  <div id="my_popup">
    <div class="my_popup_content"></div>
  </div>
  <div style="position: absolute; top: 0px;">
  </div>

  <div id="backtotop" title="Lên đầu trang"><i class="fa fa-angle-double-up"></i></div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  {{#each js}}
  <script type="text/javascript" src="/js/{{this}}"></script>
  {{/each}}
  {{{_sections.js}}}
  <script>
    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }


function setCookie(cname, cvalue, exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays*24*60*60*1000));
  var expires = "expires="+ d.toUTCString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}


    $(document).ready(() => {
      console.log("Hi")

      if (getCookie("username") !== "") {
        console.log("Hi")

        $("#loginIconX").removeClass(["login_icon"])
        //$("#loginIconX").html("Hello " +getCookie("username"))
        let t = `
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Hi, ${getCookie("username")}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/account/profile">
              <i class="fa fa-user" aria-hidden="true"></i>
              Trang ca nhan
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript: $('#frmSignout').submit();">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Dang xuat
            </a>
          </div>
        </li> `
        $("#loginIconX").html(t)
        $('#loginIconX').addClass([""])
      }

      let loginForm = document.getElementById("loginForm")
      loginForm.addEventListener("submit", (event) => {
        event.preventDefault()
        console.log("Hihi")

        fetch("/account/api/login",
          {
            method: "POST",
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              dnusername: document.getElementById("dnusername").value,
              dnpassword: document.getElementById("dnpassword").value,
            })
          }).then(res => res.json()).then(
            res => {
              console.log(res)
              if (res.success === true) {
                location.reload()
              }
            }
          );
      })

      let registerForm = document.getElementById("registerForm")
      registerForm.addEventListener("submit", (event) => {
        event.preventDefault()

        console.log(grecaptcha.getResponse())

        fetch("/account/api/register",
          {
            method: "POST",
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              dkusername: document.getElementById("dkusername").value,
              dkpassword: document.getElementById("dkpassword").value,
              dkname: document.getElementById("dkname").value,
              dkemail: document.getElementById("dkemail").value,
              captcha: grecaptcha.getResponse()
            })
          }).then(res => res.json()).then(
            res => {
              console.log(res)
              if (res.success === true) {
                location.reload()
              }
            }
          );
      })
    })
  </script>


</body>

</html>