<!DOCTYPE html>
<html>
<head>
  <!-- Basic Page Needs =====================================-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <!-- Site Title- -->
  <title>{{title}}</title>


   {{#each style}}
    <link rel="stylesheet" type="text/css" href="/css/{{this}}">
  {{/each}}

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript">
    history.pushState(null,null,location.href);
    window.onpopstate=function(){
      history.go(1);
    }
  </script>

</head>
<body>
      <!-- BEGIN: logo -->
  <div  class = "logo">
    <div class="container">
    <a href="home.html">
      <img class="logo" src="/img/{{logo}}" alt="logo">
    </a>
    </div>
  </div>
  <!-- END: logo -->

  

    {{{body}}}

  <!--  BEGIN: THÔNG TIN LIÊN HỆ -->
  <footer style="position: relative;">
    <div class="bg-white bb-solid pt15 pb15" style="background: #a71f1ff0; padding:4px 0; color: white">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1><strong>Báo điện tử TH16_NEWS</strong></h1>
            Tổng biên tập: <strong>NGUYỄN ANH TUẤN</strong><br>
            Phó tổng biên tập phụ trách nội dung: <strong>TRẦN THỊ HỒNG THẮM</strong><br>
            Cơ quan chủ quản: Hội Làm vườn Việt Nam (VACVINA)<br>
            Giấy phép hoạt động báo điện tử số <b>294/GP-BTTTT</b> do Bộ trưởng Bộ Thông tin và Truyền thông cấp ngày 23/6/2017 - ISSN 1859-2456.         
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <address class="text-right mb0">
              <div class="hidden-xs"><a href="#"><img src="img/logo.png" alt="Báo Kinh Tế Nông Thôn" width="120px"></a></div>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Gửi Mail" title=""><i class="fa fa-envelope-o"></i> E-Mail:</abbr> <a href="#">th16News@gmail.com</a> -  <a href="#">toasoanTh16News@gmail.vn</a><br>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Di động" title=""><i class="fa fa-mobile"></i> Di động:</abbr> 0909 009 009 <br>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Tòa soạn" title=""><i class="fa fa-building-o"></i> Tòa soạn:</abbr> 227 Nguyễn Văn Cừ, Quận 5, TP. HCM 
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END: THÔNG TIN LIÊN HỆ -->
  <div id="my_popup">
    <div class="my_popup_content"></div>
  </div>
  <div style="position: absolute; top: 0px;">
  </div>

  <div id="backtotop" title="Lên đầu trang"><i class="fa fa-angle-double-up"></i></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {{#each js}}
      <script type="text/javascript" src="/js/{{this}}"></script>
    {{/each}}
</body>
</html>