<!DOCTYPE html>
<html>
<head>
  <!-- Basic Page Needs =====================================-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  <!-- Site Title- -->
  <title>{{title}}</title>


   {{#each style}}
    <link rel="stylesheet" type="text/css" href="/css/{{this}}">
  {{/each}}

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {{{_sections.css}}}

</head>
<body>
      <!-- BEGIN: logo -->
  <div  class = "logo">
    <div class="container">
    <a href="/">
      <img class="logo" src="/img/{{logo}}" alt="logo">
    </a>
    </div>
  </div>
  <!-- END: logo -->
<!-- BEGIN:navbar menu -->
  <div class="menu">
    <nav class="navbar navbar-default sticky-top" role="navigation">
      <div class="container">
        <div class="item_nav">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="left-menu">
              <ul class="nav navbar-nav navbar-justified">
                <!--  menu Thoi su  -->
                <li class="font-bold">
                  <a class="dropdown-toggle" href="/list/1">
                    Thời sự
                  </a>
                  <ul class="dropdown-menu">
                    <li class="">
                      <a href="/list/2" data-color="#d9534f" class="cat_c">Tin tức</a>
                    </li>
                    <li class="">
                      <a href="/list/3" data-color="#d9534f" class="cat_c">Quốc hội</a>
                    </li>
                  </ul>
                </li>
                <!--  menu Kinh tế  -->
                <li class="font-bold">
                  <a class="dropdown-toggle" href="KinhTe.html">
                    Kinh tế
                  </a>
                  <ul class="dropdown-menu">
                    <li class="">
                      <a href="KhuyenNong.html" data-color="#d9534f" class="cat_c">Khuyến nông</a>
                    </li>
                    <li class="">
                      <a href="DoanhNghiep.html" data-color="#d9534f" class="cat_c">Doanh nghiệp</a>
                    </li>
                  </ul>
                </li>
                <!--  menu Nhịp sống  -->
                <li class="  font-bold">
                  <a class="dropdown-toggle" href="NhipSong.html">
                    Nhịp sống
                  </a>
                  <ul class="dropdown-menu">
                    <li class="">
                      <a href="AnNinhTratTu.html" data-color="#d9534f" class="cat_c">An ninh trật tự</a>
                    </li>
                    <li class="">
                      <a href="DoiSong.html" data-color="#d9534f" class="cat_c">Đời sống</a>
                    </li>
                  </ul>
                </li>
                <!--  menu Bất động sản  -->
                <li class="  font-bold">
                  <a class="dropdown-toggle" href="BatDongSan.html">
                    Bất động sản
                  </a>
                  <ul class="dropdown-menu">
                    <li class="">
                      <a href="ThiTruong.html" data-color="#d9534f" class="cat_c">Thị trường</a>
                    </li>
                    <li class="">
                      <a href="PhanTichNhanDinh.html" data-color="#d9534f" class="cat_c">Phân tích - Nhận định</a>
                    </li>
                  </ul>
                </li>
                <!--  menu Xã hội  -->
                <li class="  font-bold">
                  <a class="dropdown-toggle" href="XaHoi.html">
                    Xã hội
                  </a>
                  <ul class="dropdown-menu">
                    <li class="">
                      <a href="PhongSuKiSu.html" data-color="#d9534f" class="cat_c">Phóng sự - kí sự</a>
                    </li>
                    <li class="">
                      <a href="XaHoiTuThien.html" data-color="#d9534f" class="cat_c">Xã hội từ thiện</a>
                    </li>
                  </ul>
                </li>
                <!--  menu Pháp luật  -->
                <li class="  font-bold">
                  <a class="dropdown-toggle" href="PhapLuat.html">
                    Pháp luật
                  </a>
                  <ul class="dropdown-menu">
                    <li class="">
                      <a href="TuVan.html" data-color="#d9534f" class="cat_c">Tư vấn</a>
                    </li>
                    <li class="">
                      <a href="VanBanMoi.html" data-color="#d9534f" class="cat_c">Văn bản mới</a>
                    </li>
                  </ul>
                </li>
                <!--  menu Sức khỏe  -->
                <li class="  font-bold">
                  <a class="dropdown-toggle" href="SucKhoe.html">
                    Sức khỏe
                  </a>
                  <ul class="dropdown-menu">
                    <li class="">
                      <a href="AnToanVeSinhThucPham.html" data-color="#d9534f" class="cat_c">An toàn vệ sinh thực phẩm</a>
                    </li>
                    <li class="">
                      <a href="SongKhoe.html" data-color="#d9534f" class="cat_c">Sống khỏe</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <div class="right-menu">
              <ul class="nav navbar-nav navbar-justified">
                <!-- icon login  -->
                <li class="login_icon">
                  <a href="#" data-toggle="modal" data-target="#loginModal">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                  </a>
                </li>
                <!-- icon search  -->
                <li class="search_ hidden-xs hidden-sm">
                  <a href="#" class="color_fff " id="toggle-search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </a>

                </li>
                <div class="div_search sr_none" style="height: 60px;margin-top: 1px">
                  <form method="get" action="#" class="formsearch hidden-xs hidden-sm" id="search-form">
                    <div class="search_fm">
                      <input type="search" class="form-control" id="ip_search" name="key" placeholder="Tìm kiếm" value="">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-search"
                          aria-hidden="true"></i></button>
                    </div>
                  </form>
                </div>
              </ul>
            </div>
          </div>
          <div class="claerfix"></div>
        </div>
      </div>
    </nav>
  </div>
    <!-- END:navbar menu -->
  {{!-- <div class="modal fade login" id="loginModal">
    <div class="modal-dialog login animated">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Login with</h4>
        </div>
        <div class="modal-body">
          <div class="box">
            <div class="content">
              <div class="social">
                <a id="google_login" class="circle google" href="#">
                  <i class="fa fa-google-plus fa-fw"></i>
                </a>
                <a id="facebook_login" class="circle facebook" href="#">
                  <i class="fa fa-facebook fa-fw"></i>
                </a>
              </div>
              <div class="division">
                <div class="line l"></div>
                <span>or</span>
                <div class="line r"></div>
              </div>
              <div class="error"></div>
              <div class="form loginBox">
                <form method="" action="" accept-charset="UTF-8">
                  <input id="username" class="form-control" type="text" placeholder="Username" name="username">
                  <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                  <input class="btn btn-default btn-login" type="button" value="Login" onclick="loginAjax()">
                </form>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="content registerBox" style="display:none;">
              <div class="form">
                <form method="" html="{:multipart=>true}" data-remote="true" action="" accept-charset="UTF-8">
                  <input id="username" class="form-control" type="text" placeholder="Username" name="username">
                  <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                  <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password"
                    name="password_confirmation">
                  <input class="btn btn-default btn-register" type="button" value="Create account" name="commit">
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="forgot login-footer">
            <span>Looking to
              <a href="javascript: showRegisterForm();">create an account</a>
              ?</span>
          </div>
          <div class="forgot register-footer" style="display:none">
            <span>Already have an account?</span>
            <a href="javascript: showLoginForm();">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div> --}}


    {{{body}}}

  <!--  BEGIN: THÔNG TIN LIÊN HỆ -->
  <footer style="position: relative;">
    <div class="bg-white bb-solid pt15 pb15" style="background: #272c33; padding:4px 0; color: white">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1><strong>Báo điện tử TH16_NEWS</strong></h1>
            Tổng biên tập: <strong>NGUYỄN ANH TUẤN</strong><br>
            Phó tổng biên tập phụ trách nội dung: <strong>TRẦN THỊ HỒNG THẮM</strong><br>
            Cơ quan chủ quản: Hội Làm vườn Việt Nam (VACVINA)<br>
            Giấy phép hoạt động báo điện tử số <b>294/GP-BTTTT</b> do Bộ trưởng Bộ Thông tin và Truyền thông cấp ngày 23/6/2017 - ISSN 1859-2456.         
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <address class="text-right mb0">
              <div class="hidden-xs"><a href="#"><img src="/img/logo.png" alt="Báo Kinh Tế Nông Thôn" width="120px"></a></div>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Gửi Mail" title=""><i class="fa fa-envelope-o"></i> E-Mail:</abbr> <a href="#">th16News@gmail.com</a> -  <a href="#">toasoanTh16News@gmail.vn</a><br>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Di động" title=""><i class="fa fa-mobile"></i> Di động:</abbr> 0909 009 009 <br>
              <abbr data-toggle="tooltip" data-placement="top" data-original-title="Tòa soạn" title=""><i class="fa fa-building-o"></i> Tòa soạn:</abbr> 227 Nguyễn Văn Cừ, Quận 5, TP. HCM 
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END: THÔNG TIN LIÊN HỆ -->
  <div id="my_popup">
    <div class="my_popup_content"></div>
  </div>
  <div style="position: absolute; top: 0px;">
  </div>

  <div id="backtotop" title="Lên đầu trang"><i class="fa fa-angle-double-up"></i></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    {{#each js}}
      <script type="text/javascript" src="/js/{{this}}"></script>
    {{/each}}
    {{{_sections.js}}}
</body>
</html>