<!DOCTYPE html>
<html>

<head>
    <!-- Basic Page Needs =====================================-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Site Title- -->
    <title>{{title}}</title>

    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">

    <script
        src="https://cdn.tiny.cloud/1/lj0jr96lalez7ao376e63vu9cu774jyh4grtqzzwhjp81mbl/tinymce/5/tinymce.min.js"></script>
    <script>tinymce.init({
            selector: '#txtFullDes',
            height: 500,
            menubar: false,
            plugins: 'paste image link autolink lists table media',
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
                'forecolor backcolor',
                'table link image media',
            ],
        });</script>

    <link rel="stylesheet" href="/vendors/assets/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet" type="text/css">

</head>

<body>

    <aside id="left-panel" class="left-panel" style="color: white">
        <div class="card-body">
            <div class="mx-auto d-block"
                style="margin-top: 10px; padding-bottom: 10px;border-bottom: 2px solid #ddd;text-align: center;font-size: 20px;">
                <img style="border-radius:100%" class="rounded-circle mx-auto d-block" src="{{this.writer.Avatar}}"
                    alt="Card image cap">
                <h5 class="text-sm-center mt-2 mb-1">{{this.writer.Username}}</h5>
            </div>
        </div>
        <div class="editor_info">
            <div class="text-center" style="font-size: 20px; margin-bottom:10px;"><strong>Thông tin cá nhân</strong>
            </div>
            <div style="margin-bottom:10px; padding-left: 18px;">Tên: {{this.writer.Name}}</div>
            <div style="margin-bottom:10px; padding-left: 18px;">Vị trí: Biên tập viên</div>
            <div style="margin-bottom:10px; padding-left: 18px;">Điện thoại: {{this.writer.Phone}}</div>
            <div style="margin-bottom:10px; padding-left: 18px;">Email: {{this.writer.Email}}</div>
            <div style="margin-bottom:10px; padding-left: 18px;">Địa chỉ: {{this.writer.Address}}</div>
            </p>
        </div>
    </aside>

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <img style="height: 30px" class="user-avatar rounded-circle" src="{{this.writer.Avatar}}"
                                alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>

                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>

                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->


        {{{body}}}
    </div><!-- /#right-panel -->

    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendors/assets/js/main.js"></script>

    <script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/vendors/pdfmake/build/vfs_fonts.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="/vendors/assets/js/init-scripts/data-table/datatables-init.js"></script>
</body>

</html>