<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <form method="POST">
                    <div class="form-group">
                        <label for="txtName">Mã số</label>
                        <input readonly type="text" class="form-control" placeholder="{{this.user.User_ID}}"
                            name="User_ID" value="{{this.user.User_ID}}">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Username</label>
                        <input readonly type="text" class="form-control" id="txtName" name="Username" autofocus
                            placeholder="{{this.user.Username}}">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Password</label>
                        <input readonly type="text" class="form-control" id="txtName" name="Password" autofocus
                            placeholder="{{this.user.Password}}">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Họ Tên</label>
                        <input readonly type="text" class="form-control" id="txtName" name="Name" autofocus
                            placeholder="{{this.user.Name}}">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Ngày đã đăng kí/gia hạn</label>
                        <input readonly type="text" class="form-control" id="ngayGiaHan"
                            value="{{DateCmtFormat this.user.NgayGiaHan}}" />
                    </div>
                    <div class="form-group">
                        <label for="txtName">Ngày hết hạn</label>
                        <input readonly type="text" class="form-control" id="ngayHetHan"
                            placeholder="{{DateCmtFormat (tinhNgayHetHan this.user.NgayGiaHan)}}" value="{{DateCmtFormat (tinhNgayHetHan this.user.NgayGiaHan)}}"
                            name="NgayHetHan" />
                    </div>
                    <div class="form-group">
                        <label for="txtName">Chọn ngày gia hạn mới</label>
                        <input required type="date" class="form-control" id="ngayGiaHan" name="NgayGiaHan"/>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary" href="/admin/{{this.admin.User_ID}}/quanlynguoidung" role="button">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            Quay lại danh sách
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Lưu lại
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- .animated -->
</div>
