  <div class="container">
    <!-- BEGIN-MAIN -->
    <main >
      
      <section class="row">
        <!-- BEGIN: Main left -->
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
          
          <div class="tab_item">
            <div class="panel">
              <!-- BEGIN:Title -->
              <hgroup class="panel-heading">
                <ul class="list-inline">
                  <li class="active">
                    <a href="/subcriber/{{idS}}/list/{{this.catName.0.CatID}}" title="{{this.catName.0.CatName}}"><h2 class="font-bold">{{this.catName.0.CatName}}</h2>
                    </a>
                  </li>
                  <li class="hidden-xs ">
                    <a href="/subcriber/{{idS}}/list/{{this.catName.1.CatID}}" title="{{this.catName.1.CatName}}">{{this.catName.1.CatName}}</a>
                  </li>
                  <li class="hidden-xs ">
                    <a href="/subcriber/{{idS}}/list/{{this.catName.2.CatID}}" title="{{this.catName.2.CatName}}">{{this.catName.2.CatName}}</a>
                  </li>
                </ul>
              </hgroup>
               <!-- END: Title -->
              <!-- BEGIN:Tin nổi bật -->
              <div class="panel-body"> 
                {{#each this.newsHead1}}        
                <div class="ovlhidd col-md-7 large">
                  <div class="row">
                    <div class="grid-feature-item ">
                      {{#if News_Category}}
                      <span class="badge badge-warning">Premium</span>
                      {{/if}}
                      {{#if News_Category}}
                      {{#compare (tinhThoiHanTaiKhoan ../this.subcriber.0.NgayGiaHan) 0}}
                        <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" class="fixhieght hieght_col">
                        <img class="media-object" src="{{Image_Avatar}}" alt="{{News_Name}}" title="{{News_Name}}" width="100%" height="100%">
                      </a>
                      <div class="title_top_header">
                        <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" title="{{News_Name}}">
                          <h4> {{News_Name}}</h4>
                        </a>
                        {{else}}
                        <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}" class="fixhieght hieght_col">
                        <img class="media-object" src="{{Image_Avatar}}" alt="{{News_Name}}" title="{{News_Name}}" width="100%" height="100%">
                      </a>
                      <div class="title_top_header">
                        <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}" title="{{News_Name}}">
                          <h4> {{News_Name}}</h4>
                        </a>
                        {{/compare}}
                        {{else}}
                        <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}" class="fixhieght hieght_col">
                        <img class="media-object" src="{{Image_Avatar}}" alt="{{News_Name}}" title="{{News_Name}}" width="100%" height="100%">
                      </a>
                      <div class="title_top_header">
                        <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}" title="{{News_Name}}">
                          <h4> {{News_Name}}</h4>
                        </a>
                          {{/if}}
                      
                        <p class="meta text-muted fs-08 font-normal">
                          <span>
                            <time class="friendly" datetime={{Time}}>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>{{TimeFormat Time}} -
                            <i class="fa fa-calendar" aria-hidden="true"></i>{{DateFormat Time}}
                          </time>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                {{/each}}
                {{#each this.newsHead2}}
                <div class="ovlhidd col-sm-7 col-md-5 small">
                  <div class="row">
                    <div class="grid-feature-item ">
                      {{#if News_Category}}
                      <span class="badge badge-warning">Premium</span>
                      {{/if}}
                      {{#if News_Category}}
                      {{#compare (tinhThoiHanTaiKhoan ../this.subcriber.0.NgayGiaHan) 0}}
                        <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" class="fixhieght hieght_col">
                        <img class="media-object" src="{{Image_Avatar}}" alt="{{News_Name}}" title="{{News_Name}}" width="100%" height="100%">
                      </a>
                      <div class="title_top_header">
                        <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" title="{{News_Name}}">
                          <h4> {{News_Name}}</h4>
                        </a>
                        {{else}}
                        <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}" class="fixhieght hieght_col">
                        <img class="media-object" src="{{Image_Avatar}}" alt="{{News_Name}}" title="{{News_Name}}" width="100%" height="100%">
                      </a>
                      <div class="title_top_header">
                        <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}" title="{{News_Name}}">
                          <h4> {{News_Name}}</h4>
                        </a>
                        {{/compare}}
                        {{else}}
                        <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}" class="fixhieght hieght_col">
                        <img class="media-object" src="{{Image_Avatar}}" alt="{{News_Name}}" title="{{News_Name}}" width="100%" height="100%">
                      </a>
                      <div class="title_top_header">
                        <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}" title="{{News_Name}}">
                          <h4> {{News_Name}}</h4>
                        </a>
                          {{/if}}
                        <p class="meta text-muted fs-08 font-normal">
                          <span>
                            <time class="friendly" datetime={{Time}}>
                              <i class="fa fa-clock-o" aria-hidden="true"></i>{{TimeFormat Time}} -
                              <i class="fa fa-calendar" aria-hidden="true"></i>{{DateFormat Time}}
                            </time>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
              <!-- END: Tin nổi bật-->
              <!-- BEGIN:Danh sách bài viết-->
              <article class="panel-body">
                <div class="row ">
                  {{#each this.newsList1}}
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                    <div class="media media_item_home">
                      {{#if News_Category}}
                      <span class="badge badge-warning">Premium</span>
                      {{/if}}
                      {{#if News_Category}}
                      {{#compare (tinhThoiHanTaiKhoan ../this.subcriber.0.NgayGiaHan) 0}}
                        <a class="align_items_center" href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal">
                        <img class="media-object" src="{{Image_Avatar}}" alt="{{News_Name}}" title="{{News_Name}}" width="100%" height="180px">
                      </a>
                      <div class="media-body">
                        <h3 class="fs-12 pt5" style="height: 120px;">
                          <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" title="{{News_Name}}" style="font-size: 22px;">{{News_Name}}
                          </a>
                        </h3>
                        {{else}}
                        <a class="align_items_center" href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}">
                        <img class="media-object" src="{{Image_Avatar}}" alt="{{News_Name}}" title="{{News_Name}}" width="100%" height="180px">
                      </a>
                      <div class="media-body">
                        <h3 class="fs-12 pt5" style="height: 120px;">
                          <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}" title="{{News_Name}}" style="font-size: 22px;">{{News_Name}}
                          </a>
                        </h3>
                        {{/compare}}
                        {{else}}
                        <a class="align_items_center" href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}">
                        <img class="media-object" src="{{Image_Avatar}}" alt="{{News_Name}}" title="{{News_Name}}" width="100%" height="180px">
                      </a>
                      <div class="media-body">
                        <h3 class="fs-12 pt5" style="height: 120px;">
                          <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}" title="{{News_Name}}" style="font-size: 22px;">{{News_Name}}
                          </a>
                        </h3>
                          {{/if}}
                        <small class="meta text-muted">
                          <span>
                            <time class="friendly" datetime={{Time}}>
                              <i class="fa fa-clock-o" aria-hidden="true"></i>{{TimeFormat Time}} -
                              <i class="fa fa-calendar" aria-hidden="true"></i>{{DateFormat Time}}
                            </time>
                          </span>
                        </small>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div> 
                  {{/each}}
                </div>
              </article>
              {{#each this.newsList2}}
              <div class="list"></div>
              <article class="row">
                <aside class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb5">
                  <div class="media">
                    {{#if new.News_Category}}
                      <span class="badge badge-warning">Premium</span>
                      {{/if}}
                      {{#if new.News_Category}}
                      {{#compare (tinhThoiHanTaiKhoan ../this.subcriber.0.NgayGiaHan) 0}}
                        <a class="pull-left" href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal">
                      <img class="media-object" src="{{new.Image_Avatar}}" alt="{{new.News_Name}}" title="{{new.News_Name}}" width="230px" height="140px">
                    </a>
                    <div class="">
                      <header>
                        <p class="title mb0">
                          <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" title="{{new.News_Name}}"><b style="font-size: 22px;">{{new.News_Name}}</b>
                          </a>
                        </p>
                        {{else}}
                        <a class="pull-left" href="/subcriber/{{../this.idS}}/list/detail/{{new.News_ID}}">
                      <img class="media-object" src="{{new.Image_Avatar}}" alt="{{new.News_Name}}" title="{{new.News_Name}}" width="230px" height="140px">
                    </a>
                    <div class="">
                      <header>
                        <p class="title mb0">
                          <a href="/subcriber/{{../this.idS}}/list/detail/{{new.News_ID}}" title="{{new.News_Name}}"><b style="font-size: 22px;">{{new.News_Name}}</b>
                          </a>
                        </p>
                        {{/compare}}
                        {{else}}
                        <a class="pull-left" href="/subcriber/{{../this.idS}}/list/detail/{{new.News_ID}}">
                      <img class="media-object" src="{{new.Image_Avatar}}" alt="{{new.News_Name}}" title="{{new.News_Name}}" width="230px" height="140px">
                    </a>
                    <div class="">
                      <header>
                        <p class="title mb0">
                          <a href="/subcriber/{{../this.idS}}/list/detail/{{new.News_ID}}" title="{{new.News_Name}}"><b style="font-size: 22px;">{{new.News_Name}}</b>
                          </a>
                        </p>
                          {{/if}}
                        <small class="meta text-muted">
                          <span>
                            <time class="friendly" datetime={{new.Time}}>
                              <i class="fa fa-clock-o" aria-hidden="true"></i>{{TimeFormat new.Time}} -
                              <i class="fa fa-calendar" aria-hidden="true"></i>{{DateFormat new.Time}}
                            </time>
                          </span>
                        </small>
                      </header>
                      <p class="summary mb0">{{new.Summary}}</p>
                    </div>
                  </div>
                </aside>
                <p>
                    <font class="fwb"><i class="fa fa-tags"></i><b>Tags: </b></font>
                     {{#each tag}}
                     <a href="/subcriber/{{../../this.idS}}/tags/{{TagID}}" title="{{Tag_Name}}">
                        <span class="tag_in_item label label-default">{{Tag_Name}}</span>
                    </a>
                     {{/each}}
                </p>   
              </article>
              {{/each}}
            </div>
          </div> 

          <div class="container">
</div>
          <div class="col_fix visible-xs">
            <!-- BEGIN:tin hot nhất -->
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
              <div class="row">
                <!-- BEGIN:Host-top1 -->
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                  <div class="row">
                   <!-- BEGIN:tin top1 -->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <section class="slide_topnews">
                        <div id="carouselhot" class="carousel slide" data-ride="carousel"> 
                          <!--  Control -->
                          <a class="left carousel-control" href="TrangChiTiet.html" role="button" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                          </a>
                          <a class="right carousel-control" href="TrangChiTiet.html" role="button" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                          </a>
                        </div>
                      </section>
                    </div>
                  <!-- END -->
                  </div>
                </div>
              <!-- END -->
              </div>
            </div>
          </div>
        </div>
        <!-- END: Main left-->
        
        <!-- BEGIN: Main right -->
        <div class="hidden-xs hidden-sm col-sm-3 col-md-3 col-lg-3-right ">
            <!-- BEGIN: Tin nhiều người đọc -->
             {{>newsHot}}
             {{>categories}}
            <!-- END: Tin nhiều người đọc -->
        </div>
        <!-- END: Main right-->
        <div class="clearfix"></div>
        <div class="panel-footer text-center">
            <nav aria-label="Page navigation">
              <ul class="pagination mall0"> 
                
                {{#if first}}
                <li class="pstate" data-id="{{first}}"><a href="?page={{first}}">Trang đầu</a></li>
                {{/if}}
                {{#if prev}}
                <li class="pstate" data-id="{{prev}}"><a href="?page={{first}}">«</a></li>
                {{/if}}
                {{#each this.pages}}
                {{#if active}}
                <li class="pstate active" data-id="{{value}}"><a href="?page={{value}}">{{value}}</a></li> 
                {{else}}
                <li class="pstate" data-id="{{value}}"><a href="?page={{value}}">{{value}}</a></li>
                {{/if}}
                {{/each}}
                {{#if next}}
                <li class="pstate" data-id="{{next}}"><a href="?page={{next}}">»</a></li>
                {{/if}}
                {{#if last}}
                <li class="pstate" data-id="{{last}}"><a href="?page={{last}}">Trang cuối</a></li>
                {{/if}}               
              </ul>
            </nav>
        </div>
      </section>
    </main>
  </div>