 <script type="text/javascript">
    history.pushState(null,null,location.href);
    window.onpopstate=function(){
      history.go(1);
    }
  </script>
<div class="container">
    <!-- BEGIN-MAIN -->
    <main >     
      <section>
        <div class="tinhot hidden-xs">
          <div class="ovlhidd col-md-6 large">
            <div class="row">
              <div class="grid-feature-item" style="z-index: 0">
                {{#if newsHotWeek1.News_Category}}
                 <span class="badge badge-warning">Premium</span>
                {{/if}}
                {{#if newsHotWeek1.News_Category}}
                {{#compare (tinhThoiHanTaiKhoan subcriber.0.NgayGiaHan)  0}}
                <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" title="{{newsHotWeek1.News_Name}}">
                  <div class="bg_cover" style="background-image: url({{newsHotWeek1.Image_Avatar}}); width: 100%;height: 100%; background-size: cover;"></div>
                </a>
                <div class="title_top_header">         
                  <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" title="{{newsHotWeek1.News_Name}}">
                    <h4>{{newsHotWeek1.News_Name}}</h4>
                  </a>
                  {{else}}
                  <a href="/subcriber/{{idS}}/list/detail/{{newsHotWeek1.News_ID}}" title="{{newsHotWeek1.News_Name}}">
                  <div class="bg_cover"
                    style="background-image: url({{newsHotWeek1.Image_Avatar}}); width: 100%;height: 100%; background-size: cover;">
                  </div>
                </a>
                <div class="title_top_header">      
                  <a href="/subcriber/{{idS}}/list/detail/{{newsHotWeek1.News_ID}}" title="{{newsHotWeek1.News_Name}}">
                    <h4>{{newsHotWeek1.News_Name}}</h4>
                  </a>
                  {{/compare}}
                {{else}}
                 <a href="/subcriber/{{idS}}/list/detail/{{newsHotWeek1.News_ID}}" title="{{newsHotWeek1.News_Name}}">
                  <div class="bg_cover"
                    style="background-image: url({{newsHotWeek1.Image_Avatar}}); width: 100%;height: 100%; background-size: cover;">
                  </div>
                </a>
                <div class="title_top_header">      
                  <a href="/subcriber/{{idS}}/list/detail/{{newsHotWeek1.News_ID}}" title="{{newsHotWeek1.News_Name}}">
                    <h4>{{newsHotWeek1.News_Name}}</h4>
                  </a>
                  {{/if}}  

                  <p class="meta text-muted fs-08 font-normal">
                    <span>
                      <time class="friendly" datetime={{newsHotWeek1.Time}}>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>{{TimeFormat newsHotWeek1.Time}} -
                        <i class="fa fa-calendar" aria-hidden="true"></i>{{DateFormat newsHotWeek1.Time}}
                      </time>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          {{#each newsHotWeek2}}
          <div class="ovlhidd col-sm-6 col-md-3 small">
            <div class="row">
              <div class="grid-feature-item" style="z-index: 0">
                {{#if News_Category}}
                 <span class="badge badge-warning">Premium</span>
                {{/if}}
                {{#if News_Category}}
                {{#compare (tinhThoiHanTaiKhoan ../this.subcriber.0.NgayGiaHan) 0}}
                <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" title="{{News_Name}}">
                  <!-- <img src="" alt="" width="100%"> -->
                  <div class="bg_cover" style="background-image: url({{Image_Avatar}}); width: 100%;height: 100%; background-size: cover;"></div>
                </a>
                <div class="title_top_header">         
                  <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" title="{{News_Name}}">
                    <h4>{{News_Name}}</h4>
                  </a>
                  {{else}}
                  <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}" title="{{News_Name}}">
                  <div class="bg_cover" style="background-image: url({{Image_Avatar}}); width: 100%;height: 100%; background-size: cover;"></div>
                </a>
                <div class="title_top_header">         
                  <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}" title="{{News_Name}}">
                    <h4>{{News_Name}}</h4>
                  </a>
                  {{/compare}}
                {{else}}
                <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}" title="{{News_Name}}">
                  <div class="bg_cover" style="background-image: url({{Image_Avatar}}); width: 100%;height: 100%; background-size: cover;"></div>
                </a>
                <div class="title_top_header">         
                  <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}" title="{{News_Name}}">
                    <h4>{{News_Name}}</h4>
                  </a>
                {{/if}}
                  <p class="meta text-muted fs-08 font-normal">
                    <span>
                      <time class="friendly" datetime={{Time}}>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>{{TimeFormat Time}} -
                        <i class="fa fa-calendar" aria-hidden="true"></i>{{DateFormat Time}}
                      </time>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
               
        </div>
        <!-- ////////////////////////////////////// -->
        <div class="col_fix visible-xs">
          <!-- BEGIN:tin hot nhất -->
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
            <div class="row">
              <!-- BEGIN:Host-top1 -->
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="row">
                  <!-- BEGIN:tin top1 -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <section class="slide_topnews">
                      <div id="carouselhot" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <a href="/subcriber/{{../this/idS}}/list/detail/{{newsHotWeek1.News_ID}}">
                              <img src="{{newsHotWeek1.Image_Avatar}}"
                                width="100%">
                            </a>
                            <div class="carousel-caption">
                              <h3 class="title_newshot font_19 mall0 font_a">
                                <a href="/subcriber/{{../this/idS}}/list/detail/{{newsHotWeek1.News_ID}}">{{newsHotWeek1.News_Name}}
                                </a>
                              </h3>
                            </div>
                          </div>
                          {{#each newsHotWeek2}}
                          <div class="item">
                            <a href="/subcriber/{{../this/idS}}/list/detail/{{News_ID}}">
                              <img src="{{Image_Avatar}}" width="100%">
                            </a>
      
                            <div class="carousel-caption">
                              <h3 class="title_newshot font_19 mall0 font_a">
                                <a href="/subcriber/{{../this/idS}}/list/detail/{{News_ID}}">{{News_Name}}</a>
                              </h3>
                            </div>
                          </div>
                          {{/each}}     
                        </div>
                        <!-- Controls -->
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carouselhot" role="button" data-slide="prev">
                          <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                        <a class="right carousel-control" href="#carouselhot" role="button" data-slide="next">
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </section>
                  </div>
                  <!-- END -->
                </div>
              </div>
              <!-- END -->
            </div>
          </div>
          <!-- END -->
        </div>
        <div class="clearfix"></div>
        <div class="row mt10 mb10">
          <div class="col-xs-12 hidden-xs hidden-sm text-center">
            <div class="banner hidden topleft" fix=""></div>
            <div class="banner hidden topright" fix=""></div>
            <div class="banner hidden topfull" fix=""></div>
          </div>
        </div>
      </section>

      <!-- END -->
      <!-- BEGIN:ROW3 -->
      <section class="row">
        <!-- BEGIN:Main-left -->
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
          
          <style type="text/css">
          .bandoc {
            min-height: 340px;
          }
          </style>
          <section>
            <div class="row row_news flex_wrap_reverse">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tab_item">
                </div>
              </div>
              <div class="banner hidden banner728_0" fix="">
              </div>
              <!-- BEGIN:Bài viết mới nhất -->
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">                
                <div class="tab_item">
                  <div class="panel">
                    <hgroup class="panel-heading">
                      <ul class="list-inline mb0">
                        <li class="active">
                          <a title="Bài viết mới nhất">Bài viết mới nhất</a>
                        </li>
                      </ul>
                    </hgroup>
                    <article class="panel-body">
                      <div class="row ">                        
                        {{#each this.latestNews1}}
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                          <div class="media media_item_home " style="z-index: 0">
                            {{#if News_Category}}
                            <span class="badge badge-warning">Premium</span>
                            {{/if}}
                            {{#if News_Category}}
                            {{#compare (tinhThoiHanTaiKhoan ../this.subcriber.0.NgayGiaHan) 0}}
                              <a class="img_vdsk align_items_center" href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal">
                              <img class="media-object" src="{{Image_Avatar}}" title="{{News_Name}}" alt="{{News_Name}}" width="100%" height="300px;">
                            </a>
                            <div class="media-body">
                              <h3 class="fs-12 pt5">
                                <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" title="{{News_Name}}">{{News_Name}}</a>
                              </h3>
                              {{else}}
                              <a class="img_vdsk align_items_center" href="/subcriber/{{../this/idS}}/list/detail/{{News_ID}}">
                              <img class="media-object" src="{{Image_Avatar}}" title="{{News_Name}}" alt="{{News_Name}}" width="100%" height="300px;">
                            </a>
                            <div class="media-body">
                              <h3 class="fs-12 pt5">
                                <a href="/subcriber/{{../this/idS}}/list/detail/{{News_ID}}" title="{{News_Name}}">{{News_Name}}</a>
                              </h3>
                              {{/compare}}
                              {{else}}
                              <a class="img_vdsk align_items_center" href="/subcriber/{{../this/idS}}/list/detail/{{News_ID}}">
                              <img class="media-object" src="{{Image_Avatar}}" title="{{News_Name}}" alt="{{News_Name}}" width="100%" height="300px;">
                            </a>
                            <div class="media-body">
                              <h3 class="fs-12 pt5">
                                <a href="/subcriber/{{../this/idS}}/list/detail/{{News_ID}}" title="{{News_Name}}">{{News_Name}}</a>
                              </h3>
                               {{/if}} 
                              <small class="meta text-muted">
                                <span>
                                  <time class="friendly" datetime={{Time}}>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>{{TimeFormat Time}} -
                                    <i class="fa fa-calendar" aria-hidden="true"></i>{{DateFormat Time}}
                                  </time>
                                </span>
                              </small>
                            </div>
                          </div>
                        </div>
                        {{/each}}
                        <div class="row " style="flex-direction: row;">
                          {{#each latestNews2}}
                          <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 mb7">
                            <article>
                              {{#if News_Category}}
                              <span class="badge badge-warning">Premium</span>
                              {{/if}}
                              {{#if News_Category}}
                              {{#compare (tinhThoiHanTaiKhoan ../this.subcriber.0.NgayGiaHan) 0}}
                              <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" class="fixhieght hieght_col">
                                <img class="media-object" src="{{Image_Avatar}}" alt="{{News_Name}}" title="{{News_Name}}" width="100%"
                                  height="150px;">
                              </a>
                              <h3 class="fs-1 pt5" style="height: 60px;">
                                <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" title="{{News_Name}}">{{News_Name}}</a>
                              </h3>
                               {{else}}
                               <a href="/subcriber/{{../this/idS}}/list/detail/{{News_ID}}" class="fixhieght hieght_col">
                                <img class="media-object" src="{{Image_Avatar}}" alt="{{News_Name}}" title="{{News_Name}}" width="100%"
                                  height="150px;">
                              </a>
                              <h3 class="fs-1 pt5" style="height: 60px;">
                                <a href="/subcriber/{{../this/idS}}/list/detail/{{News_ID}}" title="{{News_Name}}">{{News_Name}}</a>
                              </h3>
                              {{/compare}}
                              {{else}}
                              <a href="/subcriber/{{../this/idS}}/list/detail/{{News_ID}}" class="fixhieght hieght_col">
                                <img class="media-object" src="{{Image_Avatar}}" alt="{{News_Name}}" title="{{News_Name}}" width="100%"
                                  height="150px;">
                              </a>
                              <h3 class="fs-1 pt5" style="height: 60px;">
                                <a href="/subcriber/{{../this/idS}}/list/detail/{{News_ID}}" title="{{News_Name}}">{{News_Name}}</a>
                              </h3>
                              {{/if}}
                              <small class="meta text-muted">
                                <time class="friendly" datetime={{Time}}>
                                  <i class="fa fa-clock-o" aria-hidden="true"></i>{{TimeFormat Time}} -
                                  <i class="fa fa-calendar" aria-hidden="true"></i>{{DateFormat Time}}
                                </time>
                              </small>
                            </article>
                          </div>
                          {{/each}}                         
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
              <!-- END: Bài viết mới nhất -->
              <!-- BEGIN: Top 10 chuyên mục -->
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tab_item">
                  <div class="panel">
                    <article class="panel-body">
                      {{#each this.topCat}}
                       <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">            
                          <div class="tab_item">
                            <div class="panel">
                              <hgroup class="panel-heading">
                                <ul class="list-inline mb0">
                                  <li class="active">
                                    <a href="/subcriber/{{../this/idS}}/list/{{this.0.CatID}}" title="{{this.0.CatName}}">{{this.0.CatName}}</a>
                                  </li>
                                </ul>
                              </hgroup>
                              <article class="panel-body">
                                <div class="row ">
                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                    <div class="media media_item_home">
                                      {{#if this.2.0.News_Category}}
                                      <span class="badge badge-warning">Premium</span>
                                      {{/if}}
                                      {{#if this.2.0.News_Category}}
                                      {{#compare (tinhThoiHanTaiKhoan ../this.subcriber.0.NgayGiaHan) 0}}
                                      <a class="hieght_col_300 align_items_center" href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal">
                                        <img class="media-object" src="{{this.2.0.Image_Avatar}}" alt="{{this.2.0.News_Name}}" title="{{this.2.0.News_Name}}" width="100%" height="270px">
                                      </a>
                                      <div class="media-body">
                                        <h3 class="fs-12 pt5">
                                          <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" title="{{this.2.0.News_Name}}">{{this.2.0.News_Name}}
                                          </a>
                                        </h3>
                                        {{else}}
                                      <a class="hieght_col_300 align_items_center" href="/subcriber/{{../this/idS}}/list/detail/{{this.2.0.News_ID}}">
                                        <img class="media-object" src="{{this.2.0.Image_Avatar}}" alt="{{this.2.0.News_Name}}" title="{{this.2.0.News_Name}}" width="100%" height="270px">
                                      </a>
                                      <div class="media-body">
                                        <h3 class="fs-12 pt5">
                                          <a href="/subcriber/{{../this/idS}}/list/detail/{{this.2.0.News_ID}}" title="{{this.2.0.News_Name}}">{{this.2.0.News_Name}}
                                          </a>
                                        </h3>
                                        {{/compare}}
                                      {{else}}
                                      <a class="hieght_col_300 align_items_center" href="/subcriber/{{../this/idS}}/list/detail/{{this.2.0.News_ID}}">
                                        <img class="media-object" src="{{this.2.0.Image_Avatar}}" alt="{{this.2.0.News_Name}}" title="{{this.2.0.News_Name}}" width="100%" height="270px">
                                      </a>
                                      <div class="media-body">
                                        <h3 class="fs-12 pt5">
                                          <a href="/subcriber/{{../this/idS}}/list/detail/{{this.2.0.News_ID}}" title="{{this.2.0.News_Name}}">{{this.2.0.News_Name}}
                                          </a>
                                        </h3>
                                      {{/if}}
                                        <small class="meta text-muted">
                                          <span>
                                            <time class="friendly" datetime={{this.2.0.Time}}>
                                              <i class="fa fa-clock-o" aria-hidden="true"></i>{{TimeFormat this.2.0.Time}} -
                                              <i class="fa fa-calendar" aria-hidden="true"></i>{{DateFormat this.2.0.Time}}
                                            </time>
                                          </span>
                                        </small>
                                      </div>
                                    </div>
                                    <div class="clearfix bb-dashed1 mb15"></div>
                                  </div>

                                  <aside class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row " style="flex-direction: row;">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="media ">
                                          <div class="media-left">
                                            {{#if this.2.1.News_Category}}
                                            <span class="badge badge-warning" style="width:24px !important;">P</span>
                                            {{/if}}
                                            {{#if this.2.1.News_Category}}
                                            {{#compare (tinhThoiHanTaiKhoan ../this.subcriber.0.NgayGiaHan) 0}}
                                            <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" class="images_360_small">
                                              <img class="media-object" src="{{this.2.1.Image_Avatar}}" alt="{{this.2.1.News_Name}}" title="{{this.2.1.News_Name}}"
                                                width="100%" height="75px">
                                            </a>
                                            </div>
                                            <div class="media-body">
                                              <h3 class="fs-12">
                                                <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal"
                                                  title="{{this.2.1.News_Name}}">{{this.2.1.News_Name}}</a>
                                              </h3>
                                              {{else}}
                                              <a href="/subcriber/{{../this/idS}}/list/detail/{{this.2.1.News_ID}}" class="images_360_small">
                                                <img class="media-object" src="{{this.2.1.Image_Avatar}}" alt="{{this.2.1.News_Name}}"
                                                  title="{{this.2.1.News_Name}}" width="100%" height="75px">
                                              </a>
                                            </div>
                                            <div class="media-body">
                                              <h3 class="fs-12">
                                                <a href="/subcriber/{{../this/idS}}/list/detail/{{this.2.1.News_ID}}"
                                                  title="{{this.2.1.News_Name}}">{{this.2.1.News_Name}}</a>
                                              </h3>
                                              {{/compare}}
                                              {{else}}
                                              <a href="/subcriber/{{../this/idS}}/list/detail/{{this.2.1.News_ID}}" class="images_360_small">
                                                <img class="media-object" src="{{this.2.1.Image_Avatar}}" alt="{{this.2.1.News_Name}}"
                                                  title="{{this.2.1.News_Name}}" width="100%" height="75px">
                                              </a>
                                            </div>
                                            <div class="media-body">
                                              <h3 class="fs-12">
                                                <a href="/subcriber/{{../this/idS}}/list/detail/{{this.2.1.News_ID}}"
                                                  title="{{this.2.1.News_Name}}">{{this.2.1.News_Name}}</a>
                                              </h3>
                                             {{/if}} 
                                            <small class="meta text-muted">
                                              <span>
                                                <time class="friendly" datetime={{this.2.1.Time}}>
                                                  <i class="fa fa-clock-o" aria-hidden="true"></i>{{TimeFormat this.2.1.Time}} -
                                                  <i class="fa fa-calendar" aria-hidden="true"></i>{{DateFormat this.2.1.Time}}
                                                </time>
                                              </span>
                                            </small>
                                          </div>
                                        </div>
                                        <div class="clearfix"></div>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="media ">
                                          <div class="media-left">
                                            {{#if this.2.2.News_Category}}
                                            <span class="badge badge-warning" style="width:24px !important;">P</span>
                                            {{/if}}
                                            {{#if this.2.2.News_Category}}
                                            {{#compare (tinhThoiHanTaiKhoan ../this.subcriber.0.NgayGiaHan) 0}}
                                            <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" class="images_360_small">
                                              <img class="media-object" src="{{this.2.2.Image_Avatar}}" alt="{{this.2.2.News_Name}}" title="{{this.2.2.News_Name}}"
                                                width="100%" height="75px">
                                            </a>
                                            </div>
                                            <div class="media-body">
                                              <h3 class="fs-12">
                                                <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal"
                                                  title="{{this.2.2.News_Name}}">{{this.2.2.News_Name}}</a>
                                              </h3>
                                              {{else}}
                                              <a href="/subcriber/{{../this/idS}}/list/detail/{{this.2.2.News_ID}}" class="images_360_small">
                                                <img class="media-object" src="{{this.2.2.Image_Avatar}}" alt="{{this.2.2.News_Name}}"
                                                  title="{{this.2.2.News_Name}}" width="100%" height="75px">
                                              </a>
                                            </div>
                                            <div class="media-body">
                                              <h3 class="fs-12">
                                                <a href="/subcriber/{{../this/idS}}/list/detail/{{this.2.2.News_ID}}"
                                                  title="{{this.2.2.News_Name}}">{{this.2.2.News_Name}}</a>
                                              </h3>
                                              {{/compare}}
                                              {{else}}
                                              <a href="/subcriber/{{../this/idS}}/list/detail/{{this.2.2.News_ID}}" class="images_360_small">
                                                <img class="media-object" src="{{this.2.2.Image_Avatar}}" alt="{{this.2.2.News_Name}}"
                                                  title="{{this.2.2.News_Name}}" width="100%" height="75px">
                                              </a>
                                            </div>
                                            <div class="media-body">
                                              <h3 class="fs-12">
                                                <a href="/subcriber/{{../this/idS}}/list/detail/{{this.2.2.News_ID}}"
                                                  title="{{this.2.2.News_Name}}">{{this.2.2.News_Name}}</a>
                                              </h3>
                                              {{/if}}
                                            <small class="meta text-muted">
                                              <span>
                                                <time class="friendly" datetime={{this.2.2.Time}}>
                                                  <i class="fa fa-clock-o" aria-hidden="true"></i>{{TimeFormat this.2.2.Time}} -
                                                  <i class="fa fa-calendar" aria-hidden="true"></i>{{DateFormat this.2.2.Time}}
                                                </time>
                                              </span>
                                            </small>
                                          </div>
                                        </div>
                                        <div class="clearfix"></div>
                                      </div>      
                                    </div>                                      
                                  </aside>
                                </div>
                              </article>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">            
                          <div class="tab_item">
                            <div class="panel">
                              <hgroup class="panel-heading">
                                <ul class="list-inline mb0">
                                  <li class="active">
                                    <a href="/subcriber/{{../this/idS}}/list/{{this.1.CatID}}" title="{{this.1.CatName}}">{{this.1.CatName}}</a>
                                  </li>
                                </ul>
                              </hgroup>
                              <article class="panel-body">
                                <div class="row ">
                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                    <div class="media media_item_home">
                                      {{#if this.3.0.News_Category}}
                                      <span class="badge badge-warning">Premium</span>
                                      {{/if}}
                                      {{#if this.3.0.News_Category}}
                                      {{#compare (tinhThoiHanTaiKhoan ../this.subcriber.0.NgayGiaHan) 0}}
                                      <a class="hieght_col_300 align_items_center" href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal">
                                        <img class="media-object" src="{{this.3.0.Image_Avatar}}" alt="{{this.3.0.News_Name}}" title="{{this.3.0.News_Name}}" width="100%" height="270px">
                                      </a>
                                      <div class="media-body">
                                        <h3 class="fs-12 pt5">
                                          <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" title="{{this.3.0.News_Name}}">{{this.3.0.News_Name}}
                                          </a>
                                        </h3>
                                        {{else}}
                                      <a class="hieght_col_300 align_items_center" href="/subcriber/{{../this/idS}}/list/detail/{{this.3.0.News_ID}}">
                                        <img class="media-object" src="{{this.3.0.Image_Avatar}}" alt="{{this.3.0.News_Name}}" title="{{this.3.0.News_Name}}" width="100%" height="270px">
                                      </a>
                                      <div class="media-body">
                                        <h3 class="fs-12 pt5">
                                          <a href="/subcriber/{{../this/idS}}/list/detail/{{this.3.0.News_ID}}" title="{{this.3.0.News_Name}}">{{this.3.0.News_Name}}
                                          </a>
                                        </h3>
                                        {{/compare}}
                                      {{else}}
                                      <a class="hieght_col_300 align_items_center" href="/subcriber/{{../this/idS}}/list/detail/{{this.3.0.News_ID}}">
                                        <img class="media-object" src="{{this.3.0.Image_Avatar}}" alt="{{this.3.0.News_Name}}" title="{{this.3.0.News_Name}}" width="100%" height="270px">
                                      </a>
                                      <div class="media-body">
                                        <h3 class="fs-12 pt5">
                                          <a href="/subcriber/{{../this/idS}}/list/detail/{{this.3.0.News_ID}}" title="{{this.3.0.News_Name}}">{{this.3.0.News_Name}}
                                          </a>
                                        </h3>
                                      {{/if}}
                                        <small class="meta text-muted">
                                          <span>
                                            <time class="friendly" datetime={{this.3.0.Time}}>
                                              <i class="fa fa-clock-o" aria-hidden="true"></i>{{TimeFormat this.3.0.Time}} -
                                              <i class="fa fa-calendar" aria-hidden="true"></i>{{DateFormat this.3.0.Time}}
                                            </time>
                                          </span>
                                        </small>
                                      </div>
                                    </div>
                                    <div class="clearfix bb-dashed1 mb15"></div>
                                  </div>

                                  <aside class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row " style="flex-direction: row;">
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="media ">
                                          <div class="media-left">
                                            {{#if this.3.1.News_Category}}
                                            <span class="badge badge-warning" style="width:24px !important;">P</span>
                                            {{/if}}
                                            {{#if this.3.1.News_Category}}
                                            {{#compare (tinhThoiHanTaiKhoan ../this.subcriber.0.NgayGiaHan) 0}}
                                            <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" class="images_360_small">
                                              <img class="media-object" src="{{this.3.1.Image_Avatar}}" alt="{{this.3.1.News_Name}}" title="{{this.3.1.News_Name}}"
                                                width="100%" height="75px">
                                            </a>
                                            </div>
                                            <div class="media-body">
                                              <h3 class="fs-12">
                                                <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal"
                                                  title="{{this.3.1.News_Name}}">{{this.3.1.News_Name}}</a>
                                              </h3>
                                              {{else}}
                                              <a href="/subcriber/{{../this/idS}}/list/detail/{{this.3.1.News_ID}}" class="images_360_small">
                                                <img class="media-object" src="{{this.3.1.Image_Avatar}}" alt="{{this.3.1.News_Name}}"
                                                  title="{{this.3.1.News_Name}}" width="100%" height="75px">
                                              </a>
                                            </div>
                                            <div class="media-body">
                                              <h3 class="fs-12">
                                                <a href="/subcriber/{{../this/idS}}/list/detail/{{this.3.1.News_ID}}"
                                                  title="{{this.3.1.News_Name}}">{{this.3.1.News_Name}}</a>
                                              </h3>
                                              {{/compare}}
                                              
                                              {{else}}
                                              <a href="/subcriber/{{../this/idS}}/list/detail/{{this.3.1.News_ID}}" class="images_360_small">
                                                <img class="media-object" src="{{this.3.1.Image_Avatar}}" alt="{{this.3.1.News_Name}}"
                                                  title="{{this.3.1.News_Name}}" width="100%" height="75px">
                                              </a>
                                            </div>
                                            <div class="media-body">
                                              <h3 class="fs-12">
                                                <a href="/subcriber/{{../this/idS}}/list/detail/{{this.3.1.News_ID}}"
                                                  title="{{this.3.1.News_Name}}">{{this.3.1.News_Name}}</a>
                                              </h3>
                                              {{/if}}
                                            <small class="meta text-muted">
                                              <span>
                                                <time class="friendly" datetime={{this.3.1.Time}}>
                                                  <i class="fa fa-clock-o" aria-hidden="true"></i>{{TimeFormat this.3.1.Time}} -
                                                  <i class="fa fa-calendar" aria-hidden="true"></i>{{DateFormat this.3.1.Time}}
                                                </time>
                                              </span>
                                            </small>
                                          </div>
                                        </div>
                                        <div class="clearfix"></div>
                                      </div>
                                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="media ">
                                          <div class="media-left">
                                            {{#if this.3.2.News_Category}}
                                            <span class="badge badge-warning" style="width:24px !important;">P</span>
                                            {{/if}}
                                            {{#if this.3.2.News_Category}}
                                            {{#compare (tinhThoiHanTaiKhoan ../this.subcriber.0.NgayGiaHan) 0}}
                                            <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal" class="images_360_small">
                                              <img class="media-object" src="{{this.3.2.Image_Avatar}}" alt="{{this.3.2.News_Name}}" title="{{this.3.2.News_Name}}"
                                                width="100%" height="75px">
                                            </a>
                                            </div>
                                            <div class="media-body">
                                              <h3 class="fs-12">
                                                <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal"
                                                  title="{{this.3.2.News_Name}}">{{this.3.2.News_Name}}</a>
                                              </h3>
                                              {{else}}
                                              <a href="/subcriber/{{../this/idS}}/list/detail/{{this.3.2.News_ID}}" class="images_360_small">
                                                <img class="media-object" src="{{this.3.2.Image_Avatar}}" alt="{{this.3.2.News_Name}}"
                                                  title="{{this.3.2.News_Name}}" width="100%" height="75px">
                                              </a>
                                            </div>
                                            <div class="media-body">
                                              <h3 class="fs-12">
                                                <a href="/subcriber/{{../this/idS}}/list/detail/{{this.3.2.News_ID}}"
                                                  title="{{this.3.2.News_Name}}">{{this.3.2.News_Name}}</a>
                                              </h3>
                                              {{/compare}}
                                              {{else}}
                                              <a href="/subcriber/{{../this/idS}}/list/detail/{{this.3.2.News_ID}}" class="images_360_small">
                                                <img class="media-object" src="{{this.3.2.Image_Avatar}}" alt="{{this.3.2.News_Name}}"
                                                  title="{{this.3.2.News_Name}}" width="100%" height="75px">
                                              </a>
                                            </div>
                                            <div class="media-body">
                                              <h3 class="fs-12">
                                                <a href="/subcriber/{{../this/idS}}/list/detail/{{this.3.2.News_ID}}"
                                                  title="{{this.3.2.News_Name}}">{{this.3.2.News_Name}}</a>
                                              </h3>
                                              {{/if}}
                                            <small class="meta text-muted">
                                              <span>
                                                <time class="friendly" datetime={{this.3.2.Time}}>
                                                  <i class="fa fa-clock-o" aria-hidden="true"></i>{{TimeFormat this.3.2.Time}} -
                                                  <i class="fa fa-calendar" aria-hidden="true"></i>{{DateFormat this.3.2.Time}}
                                                </time>
                                              </span>
                                            </small>
                                          </div>
                                        </div>
                                        <div class="clearfix"></div>
                                      </div>      
                                    </div>                                      
                                  </aside>
                                </div>
                              </article>
                            </div>
                          </div>
                        </div>
                      </div>
                      {{/each}}
                    </article>
                  </div>
                </div>
              </div>
              <!-- END: Top 10 chuyên mục -->

              <div class="banner hidden banner728_2" fix=""></div>                          
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              </div>
            </div>
          </section>
          <!-- END -->
        </div>
        <!-- END: Main-LEFT -->
        <!-- BEGIN:Main-RIGHT -->
        <div class="hidden-xs hidden-sm col-sm-3 col-md-3 col-lg-3-right ">
          <!-- BEGIN: Tin nhiều người đọc -->
          {{>newsHot}}
          <!-- END: Tin nhiều người đọc -->
           <!-- BEGIN: danh sách chuyên mục -->
          {{>categories}}
          <!-- END: danh sách chuyên mục -->
        </div>
        <!-- END: Main-RIGHT -->
        <div class="clearfix"></div>
      </section>
      <!-- END -->
    </main>
  <!-- END-MAIN -->
  </div>

  
