<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-header"><strong style="font-size: 20px;">Hiệu chỉnh thông tin bài viết đã
                            duyệt</strong></div>
                    <div class="card-body">
                        <form method="POST" action="/editor/{{this.idE}}/browse/update/{{this.draft.News_ID}}">
                            <div class="form-group">
                                <label for="txtNewsID">Mã số</label>
                                <input readonly type="text" class="form-control" id="txtNewsID" name="News_ID"
                                    value="{{draft.News_ID}}">
                            </div>
                            <div class="form-group">
                                <label for="txtNewsName">Tên bài viết</label>
                                <input readonly type="text" class="form-control" id="txtNewsName" name="News_Name"
                                    value="{{draft.News_Name}}" autofocus placeholder="{{draft.News_Name}}">
                            </div>
                            <div class="form-group">
                                <label for="txtCatName">Chuyên mục</label>

                                <select class="form-control" id="txtCatName" name="CatID">
                                    {{#each this.allcat}}
                                    {{#compare CatID ../this.draft.CatID}}
                                    <option selected value="{{CatID}}">{{CatName}}</option>
                                    {{else}}
                                    <option value="{{CatID}}">{{CatName}}</option>
                                    {{/compare}}
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="txtTags">Tags</label>
                                <div class="tags">

                                    <span>{{#each this.tags}}
                                        {{#if @last}}
                                        {{Tag_Name}}.
                                        {{else}}
                                        {{Tag_Name}},
                                        {{/if}}
                                        {{/each}}</span>

                                </div>
                            </div>
<<<<<<< HEAD
                            
=======
>>>>>>> master
                            <div class="form-group">
                                <label for="tags">Chọn Tags mới</label>
                                <div id="tagsform">
                                    <select class="form-control" type="text" id="tags" name='Tag[]' multiple>
                                        {{#each this.allTags}}
                                        <option value="{{TagID}}" id="{{Tag_Name}}">{{Tag_Name}}</option>
                                        {{/each}}
                                    </select>

                                    <div id="buttonselect">
                                        <input type="button" class="btn btn-success" onclick="selectTags()"
                                            value=">"></input>
                                        <input type="button" class="btn btn-success" onclick="selectAllTags()"
                                            value=">>"></input>
                                        <input type="button" class="btn btn-success" onclick="removeTags()"
                                            value="<"></input>
                                        <input type="button" class="btn btn-success" onclick="removeAllTags()"
                                            value="<<"></input>
                                    </div>

                                    <select multiple type="text" class="form-control" id="tagsselected"
                                        name='Tag_selected[]'>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtTime">Thời gian xuất bản</label>
                                <input required type="datetime-local" class="form-control" id="txtTime" name="Time">
                            </div>
                            <a class="btn btn-primary" href="/editor/{{idE}}/draft/detail/{{idN}}" role="button">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                                Quay lại bài viết
                            </a>
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Lưu
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div>
<script>
    function selectTags() {
        var src = document.getElementById("tags");
        var des = document.getElementById("tagsselected");
        var sub = src.options[src.selectedIndex].id;
        var value = src.options[src.selectedIndex].value;
        moveSubject(src, des, sub, value);
        src.remove(src.selectedIndex);
    }

    function selectAllTags() {
        var src = document.getElementById("tags");
        var des = document.getElementById("tagsselected");
        for (i = 0; i < src.options.length; i++) {
            moveSubject(src, des, src.options[i].id, src.options[src.selectedIndex].value);
        }
        for (i = src.options.length - 1; i >= 0; i--) {
            src.remove(i);
        }
    }

    function removeTags() {
        var src = document.getElementById("tagsselected");
        var des = document.getElementById("tags");
        var sub = src.options[src.selectedIndex].id;
        var value = src.options[src.selectedIndex].value;
        moveSubject(src, des, sub, value);
        src.remove(src.selectedIndex);
    }

    function removeAllTags() {
        var src = document.getElementById("tagsselected");
        var des = document.getElementById("tags");
        for (i = 0; i < src.options.length; i++) {
            moveSubject(src, des, src.options[i].id, src.options[i].value);
        }
        for (i = src.options.length - 1; i >= 0; i--) {
            src.remove(i);
        }
    }

    function moveSubject(src, des, sub, value) {
        var opt = document.createElement('option');
        opt.appendChild(document.createTextNode(sub));
        opt.id = sub;
        opt.value = value;
        opt.selected = true;
        des.appendChild(opt);
    }
</script>