<div class="breadcrumbs">
    <div class="page-header">
        <div class="page-title">
            <h1 style="width:100%" class="text-center">Bài viết đã duyệt</h1>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="bootstrap-data-table-export_wrapper"
                            class="dataTables_wrapper dt-bootstrap4 no-footer">
                            {{#each draft}}
                            <article class="row">
                                <aside class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb5">
                                    <div class="media">
                                        <a class="pull-left" href="/editor/{{../this.editor.0.info.User_ID}}/draft/browsed/{{new.News_ID}}">
                                            <img class="media-object" src="{{new.Image_Avatar}}" alt="{{new.News_Name}}"
                                                title="{{new.News_Name}}" width="230px" height="140px"
                                                style="max-width: none;">
                                        </a>
                                        <div class="">
                                            <header>
                                                <p class="title mb0">
                                                    <a href="/editor/{{../this.editor.0.info.User_ID}}/draft/browsed/{{new.News_ID}}"><b
                                                            style="font-size: 22px;">{{new.News_Name}}</b>
                                                    </a>
                                                </p>
                                                <div class="writer_name">Chủ đề: {{new.CatName}}</div>
                                                <div class="writer_name">Phóng viên: {{new.writer}}</div>
                                                <small class="meta text-muted">
                                                    <span>
                                                        <time class="friendly" datetime={{new.Time}}>
                                                            <i class="fa fa-clock-o"
                                                                aria-hidden="true"></i>{{TimeFormat new.Time}} -
                                                            <i class="fa fa-calendar"
                                                                aria-hidden="true"></i>{{DateFormat new.Time}}
                                                        </time>
                                                    </span>
                                                </small>
                                            </header>
                                            <p class="summary mb0">{{new.Summary}}</p>
                                        </div>
                                    </div>
                                </aside>
                                <p>
                                    <font class="fwb"><i class="fa fa-tags"></i><b>Tags: </b></font>
                                    {{#each tag}}
                                    <a href="/tags/{{TagID}}" title="{{Tag_Name}}">
                                        <span class="tag_in_item label label-default">{{Tag_Name}}</span>
                                    </a>
                                    {{/each}}
                                </p>
                            </article>
                            <div class="list"></div>
                            {{/each}}
                            <div class="clearfix"></div>
                            <div class="panel-footer text-center">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination mall0">
                                        {{#if first}}
                                        <li class="pstate" data-id="{{first}}"><a href="?page={{first}}">Trang đầu</a>
                                        </li>
                                        {{/if}}
                                        {{#if prev}}
                                        <li class="pstate" data-id="{{prev}}"><a href="?page={{first}}">«</a></li>
                                        {{/if}}
                                        {{#each this.pages}}
                                        {{#if active}}
                                        <li class="pstate active" data-id="{{value}}"><a
                                                href="?page={{value}}">{{value}}</a></li>
                                        {{else}}
                                        <li class="pstate" data-id="{{value}}"><a href="?page={{value}}">{{value}}</a>
                                        </li>
                                        {{/if}}
                                        {{/each}}
                                        {{#if next}}
                                        <li class="pstate" data-id="{{next}}"><a href="?page={{next}}">»</a></li>
                                        {{/if}}
                                        {{#if last}}
                                        <li class="pstate" data-id="{{last}}"><a href="?page={{last}}">Trang cuối</a>
                                        </li>
                                        {{/if}}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div>