<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="/admin/{{this.admin.User_ID}}/quanlybaiviet/update">
                    <div class="form-group">
                        <label for="txtName">Mã số</label>
                        <input readonly type="text" class="form-control" placeholder={{this.news.News_ID}}
                            name="News_ID" value="{{this.news.News_ID}}">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Tiêu đề</label>
                        <input type="text" class="form-control" id="txtName" name="News_Name" autofocus
                            placeholder="{{this.news.News_Name}}" value="{{this.news.News_Name}}">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Nội dung tóm tắt</label>
                        <input type="text" class="form-control" id="txtName" name="Summary" autofocus
                            placeholder="{{this.news.Summary}}" value="{{this.news.Summary}}">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Nội dung bài viết</label>
                        <textarea type="text" class="form-control" id="txtFullDes" name="Content">{{{this.news.Content}}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="txtName">Chuyên mục</label>
                         <select class="form-control" name="CatID" placeholder="{{this.user.CatName}}">
                            {{#each cat}}
                            <option value="{{ID}}">{{TenCM}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="image_uploads">Ảnh bài viết</label>
                        <input type="text" class="form-control" id="txtName" name="Image_Avatar" autofocus
                            placeholder="{{this.news.Image_Avatar}}" value="{{this.news.Image_Avatar}}">
                    </div>
                    <div class="form-group">
                        <label for="txtName">Ngày được viết</label>
                        <input readonly type="text" class="form-control"
                            placeholder="{{DateCmtFormat this.news.Time}}" value="{{DateCmtFormat this.news.Time}}"/>
                    </div>
                    <div class="form-group">
                        <label for="txtCatParentName">Trạng thái bài viết</label>
                        <select class="form-control" name="State_ID" placeholder="{{this.user.State_ID}}">
                            {{#each newState}}
                            <option value="{{State_ID}}">{{State_Name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtCatParentName">Loại bài viết</label>
                        <select class="form-control" name="News_Category">
                            <option value=0>Bài viết thường</option>
                             <option value=1>Bài viết premium</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary" href="/admin/{{this.admin.User_ID}}/quanlybaiviet" role="button">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            Quay lại danh sách
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Lưu lại
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- .animated -->
</div>
