<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="/writer/{{this.writer.User_ID}}/update">
                    <div class="form-group">
                        <label for="txtCatParentName">Mã số tác giả</label>
                        <input readonly type="text" class="form-control" id="txtName" name="Writer_ID"
                            value="{{this.writer.User_ID}}" required>
                    </div>
                    <div class="form-group">
                        <label for="txtCatParentName">Mã số bài viết</label>
                        <input readonly type="text" class="form-control" id="txtName" name="News_ID"
                            value="{{this.news.News_ID}}" required>
                    </div>
                    <div class="form-group">
                        <label for="txtName">Tiêu đề</label>
                        <input readonly type="text" class="form-control" id="txtName" name="News_Name"
                            value="{{this.news.News_Name}}" placeholder="{{this.news.News_Name}}" autofocus required>
                    </div>
                    <div class="form-group">
                        <label for="txtName">Nội dung tóm tắt</label>
                        <input readonly type="text" class="form-control" id="txtName" name="Summary"
                            value="{{this.news.Summary}}" placeholder="{{this.news.Summary}}" autofocus required>
                    </div>
                    <div class="form-group">
                        <label for="txtName">Nội dung bài viết</label>
                        <div class="card" style="border-radius: 6px; background-color:#ebefeb">
                            <div style="padding: 20px">{{{this.news.Content}}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image_uploads">Ảnh bài viết</label>
                        <div class="card" style="border-radius: 6px; background-color:#ebefeb;width: 50%; ">
                            <img src="{{this.news.Image_Avatar}}" alt="Ảnh đại diện bài viết" height="100%" width="100%">
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-primary" href="/writer/{{this.writer.User_ID}}" role="button">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            Quay lại danh sách
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- .animated -->
</div>