<main id="content" class="content">
    <div class="container">
        <header class="text-center font-2 mt15 mb15">
            <h1 style="font-size:2.1em">
                <small class="text-primary"><i class="fa fa-keyboard-o"></i> Từ khóa: </small>
                <span class="text-success">{{newsList.0.Tag_Name}}</span>
            </h1>
        </header>
        <section>
            <div class="row box-list-news box-list-news_search">
                {{#each newsList}}
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <article class="article-thumb pb7 mb15 bb-dashed">
                         {{#if News_Category}}
                    <span class="badge badge-warning">Premium</span>
                    {{/if}}
                      {{#if News_Category}}
                      {{#compare (tinhThoiHanTaiKhoan ../this.subcriber.0.NgayGiaHan) 0}}                    
                        <figure class="article-thumb-img ">
                            <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal"
                                title="{{News_Name}}"
                                class="flex_image"><img
                                    src="{{Image_Avatar}}"
                                    alt="{{News_Name}}"
                                    width="100%" height="180px;"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="#" data-toggle="modal" data-target="#GiaHanTaiKhoan-modal"
                                title="{{News_Name}}" >
                                <h2 class="font-2 fs-12">{{News_Name}}</h2>
                            </a>
                        </header>
                        {{else}}
                        <figure class="article-thumb-img ">
                            <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}"
                                title="{{News_Name}}"
                                class="flex_image"><img
                                    src="{{Image_Avatar}}"
                                    alt="{{News_Name}}"
                                    width="100%" height="180px;"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}"
                                title="{{News_Name}}" >
                                <h2 class="font-2 fs-12">{{News_Name}}</h2>
                            </a>
                        </header> 
                        {{/compare}}
                        {{else}}
                        <figure class="article-thumb-img ">
                            <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}"
                                title="{{News_Name}}"
                                class="flex_image"><img
                                    src="{{Image_Avatar}}"
                                    alt="{{News_Name}}"
                                    width="100%" height="180px;"></a>
                        </figure>
                        <header class="article-thumb-header mt7">
                            <a href="/subcriber/{{../this.idS}}/list/detail/{{News_ID}}"
                                title="{{News_Name}}" >
                                <h2 class="font-2 fs-12">{{News_Name}}</h2>
                            </a>
                        </header>        
                    {{/if}}
                    </article>
                </div>
                {{/each}}
                
            </div>
            <div class="clearfix"></div>
            <div class="row text-center">
            <nav aria-label="Page navigation">
              <ul class="pagination mall0"> 
                
                {{#if first}}
                <li class="pstate" data-id="{{first}}"><a href="?page={{first}}">Trang đầu</a></li>
                {{/if}}
                {{#if prev}}
                <li class="pstate" data-id="{{prev}}"><a href="?page={{first}}">«</a></li>
                {{/if}}
                {{#each this.pages}}
                {{#if active}}
                <li class="pstate active" data-id="{{value}}"><a href="?page={{value}}">{{value}}</a></li> 
                {{else}}
                <li class="pstate" data-id="{{value}}"><a href="?page={{value}}">{{value}}</a></li>
                {{/if}}
                {{/each}}
                {{#if next}}
                <li class="pstate" data-id="{{next}}"><a href="?page={{next}}">»</a></li>
                {{/if}}
                {{#if last}}
                <li class="pstate" data-id="{{last}}"><a href="?page={{last}}">Trang cuối</a></li>
                {{/if}}               
              </ul>
            </nav>
        </div>
        </section>
    </div>
</main>