

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card shadow">
                        <h4 class="card-header">
                            Danh sách chuyên mục
                        </h4>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Tên chuyên mục</th>
                                    <th scope="col">Chuyên mục cha</th>
                                    <th scope="col">
                                        <a class="btn btn-outline-success" href="quanlychuyenmuc/add" role="button">
                                            <i class="fa fa-plus" aria-hidden="true">
                                                Thêm mới
                                            </i>
                                        </a>
                                         <a class="btn btn-outline-danger" href="/admin/quanlychuyenmuc/deleted"
                                            role="button">
                                            <i class="fa fa-minus-square"> Mục đã xóa</i>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each this.cat}}
                                {{#if IDCha}}
                                <tr>
                                    <th scope="row">{{ID}}</th>
                                    <td>{{TenCM}}</td>
                                    <td>{{TenCMCha}}</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="quanlychuyenmuc/edit/{{ID}}"
                                            role="button">
                                            <i class="fa fa-pencil" aria-hidden="true">
                                            </i>
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="quanlychuyenmuc/delete/{{ID}}" role="button">
                                            <i class="fa fa-trash" aria-hidden="true">
                                            </i>
                                        </a>
                                    </td>

                                </tr>
                                {{else}}
                                <tr>
                                    <th scope="row">{{ID}}</th>
                                    <td>{{TenCM}}</td>
                                    <td>NULL</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="quanlychuyenmuc/edit/{{ID}}"
                                            role="button">
                                            <i class="fa fa-pencil" aria-hidden="true">
                                            </i>
                                        </a>

                                        <a class="btn btn-danger btn-sm" href="quanlychuyenmuc/delete/{{ID}}" role="button">
                                            <i class="fa fa-trash" aria-hidden="true">
                                            </i>
                                        </a>
                                    </td>
                                </tr>
                                {{/if}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div>
